%section.row
  .left.column
    %h1 Style Guide
    %p
      You've created an application,
      %strong
        %em good for you!
    %q.right
      Oh by the way, this is a callout!
    %p
      Now you need to style and customize this site! There is a lot more to an application than just the outer shell.
      For instance you could start by styling things like pull quotes.
      %q This a quote embedded within a paragraph, dude!
      Perhaps you would rather style a pull quote that's broken out and floated?

    %blockquote
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .right.column
    %h2 More Elements?
    %ul
      %li
        Help, I'm a list item without a purpose!
      %li
        Another non-purpose
        %ul
          %li
            Ooh, but I do something because I'm embedded
        %ol
          %li
            Order within chaos
      %li
        Back to reality

    %ol
      %li
        Really, who uses ordered lists?
        %ul
          %li
            Unordered inside of ordered? For shame
        %ol
          %li
            Turns out, anything goes
      %li
        Yep, that takes care of most scenarios


%h2 Forms

.check.toggle
  %input#check-toggle{ name: "check", type: "checkbox", value: "None" }/
  %label{ for: "check-toggle" }

.check.slide
  %input#check-slide{ name: "check", type: "checkbox", value: "None" }/
  %label{ for: 'check-slide' }

.check.switch
  %input#check-switch{name: "check", type: "checkbox", value: "None"}/
  %label{for: "check-switch"}

.check.round.solid
  %input#check-round-solid{name: "check", type: "checkbox", value: "None"}/
  %label{for: "check-round-solid"}

.check.round.mark
  %input#check-radio-mark{name: "check", type: "checkbox", value: "None"}/
  %label{for: "check-radio-mark"}

.check.square.solid
  %input#check-square-solid{ name: "check", type: "checkbox", value: "None" }/
  %label{ for: "check-square-solid" }

.check.square.mark
  %input#check-square-mark{ name: "check", type: "checkbox", value: "None" }/
  %label{ for: "check-square-mark" }

.check.rounded.dark
  %input#check-rounded-dark{name: "check", type: "checkbox", value: "None"}/
  %label{for: "check-rounded-dark"}

.check.rounded.light
  %input#check-rounded-light{name: "check", type: "checkbox", value: "None"}/
  %label{for: "check-rounded-light"}