%header.section.head
  %h1.left
    Edit Post

  .actions.right
    %a.button.red{ href: post_path(@resource), data: { confirm: "Are you sure you want to delete?", method: :delete } } Delete Post

= render 'form'