/*
 *= require_self
 *= require_tree .
*/

@import "constants";
@import "forms";
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Oswald:400,300,700");

/**
 * RESET
 *
 * Reset the margins and paddings, etc of all raw html elements
 * Make block elements actually display block
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  border: 0;
  font-size: 100%;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  @extend %font_body;

  background: $base_light;
  color: $base_dark;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font_header;
  font-weight: 100;
  line-height: 1;
  margin: .5em 0 .25em 0;
  padding: .5em 0 .25em 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  padding-top: 1.15em
}

blockquote, q
{
  @extend %font_display;
  background: lighten($base_light, 5%);
  border-left: 2px solid $base_medium;
  display: block;
  font-size: 1.6rem;
  line-height: 1.5em;
  margin: .5em 0;
  padding: 1rem 1.5rem;
  quotes: none;

  &.right {
    border: none;
    border-right: 2px solid $base_medium;
    color: $label_color;
    float: right;
    font-size: 2rem;
    max-width: 50%;
    margin: .5rem 0 0 1em;
  }
}

blockquote:before, blockquote:after,
q:before, q:after
{
  content: '';
  content: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.75em;
  padding: .25em 0 .75em;

  q {
    background: none;
    border: none;
    display: inline;
    padding: 0;
  }
}

a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    color: lighten($link_color, 30%);
  }
}

table {
  border-collapse: collapse;
  margin: 2rem 0;

  tr {
    border-bottom: 1px solid darken($base_light, 10%);

    th, td {
      font-size: 1.4rem;
      line-height: 1;
      padding: 1.5rem 1rem 1.25rem;
      text-align: left;
    }

    th {
      background: darken($base_light, 5%);
    }

    &:nth-child(odd) {
      td {
        background: lighten($base_light, 2%);
      }
    }
  }
}


/**
 * LAYOUT
 */
section.flash {
  background: $base_dark;
  color: $base_light;
  bottom: 0;
  position: fixed;
  padding: 1.5rem 0;
  width: 100%;
  z-index: 99;

  .message {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 700;

    &.notice {
      color: lighten($brand_green, 10%);
    }

    &.warning {
      color: $brand_yellow;
    }

    &.alert {
      color: lighten($brand_red, 10%);
    }
  }

  .close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 0;
    opacity: .7;
    transition: opaticy .3s;

    &:hover {
      opacity: 1;
    }
  }
}

header.global {
  @extend .container;
  border-bottom: 1px solid darken($base_light, 10%);
  margin-bottom: 2rem;
  padding: 1rem;

  .menu {
    a {
      display: inline-block;
      font-size: 1.4rem;
      padding: .5rem;
    }
  }

  .left.menu {
    float: left;

    a:first-child {
      padding-left: 0;
    }
  }

  .right.menu {
    float: right;

    a:last-child {
      padding-right: 0;
    }
  }
}

header.section.head {
  @extend %clearfix;

  .left {
    float: left;
  }

  .right {
    float: right;

    &.actions {
      padding: 5.2rem 0 0 0;
    }
  }
}

main.global {
  @extend .container;

  ul {
    font-size: 1.6rem;
    line-height: 1.25em;
    padding: .25em 0 1.5em;

    ul, ol {
      padding: 0;
    }

    li {
      list-style: circle inside;
      margin: .5em 0;

      ul li {
        list-style: disc inside;
        margin-left: 1em;

        ul li {
          list-style: square inside;
          margin-left: 1em;
        }
      }

      ol li {
        margin-left: 1em;
      }
    }
  }

  ol {
    font-size: 1.6rem;
    line-height: 1.25em;
    padding: .25em 0 1.5em;

    ul, ol {
      padding: 0;
    }

    li {
      list-style: decimal inside;
      margin: .5em 0;

      ul li {
        list-style: square inside;
        margin-left: 1em;
      }

      ol li {
        list-style: lower-latin inside;
        margin-left: 1em;

         ol li {
           list-style: lower-roman inside;
           margin-left: 1em;
         }
      }
    }
  }
}

.row {
  @extend %clearfix;
}

.left.column {
  float: left;
  width: 64%;
}

.right.column {
  float: right;
  width: 32%;
}